# Nombre del proceso que aparecerá en la pestaña 'Actions' de GitHub
name: Deploy TaskEngine to Azure Linux

# Define cuándo se dispara el proceso
on:
  push:
    branches:
      - master # Se ejecuta cada vez que subas cambios a la rama 'master'

jobs:
  build-and-deploy:
    # Usamos un servidor de GitHub con Ubuntu (Linux) para compilar
    runs-on: ubuntu-latest

    steps:
      # 1. Copia tu código del repositorio al servidor de GitHub
      - name: Checkout del código
        uses: actions/checkout@v4

      # 2. Instala el SDK de .NET para poder compilar
      - name: Configurar .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      # 3. Restaura las librerías de NuGet
      - name: Restaurar dependencias
        run: dotnet restore

      # 4. EJECUTAR TESTS UNITARIOS 
      # Este paso es el "filtro". Si el test falla, el deploy se cancela automáticamente.
      - name: Ejecutar Tests
        run: dotnet test --no-restore --verbosity normal

      # 5. Compila el proyecto en modo 'Release'
      - name: Compilar
        run: dotnet build --no-restore --configuration Release

      # 6. Publicar SOLAMENTE el proyecto API
      - name: Publicar app
        run: dotnet publish TaskEngine.Api/TaskEngine.Api.csproj -c Release -o ./publish

      # 7. Despliega los archivos publicados a Azure App Service
      - name: Desplegar a Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'api-eduardo-sv'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./publish